body{
    background-color: #000000;
}

.button1{
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.row{
    padding-top: 100px;
    color: #ffffff;
}